1.2  Proposed Solution 
The proposed solution introduces an advanced, AI-powered attendance system 
that leverages facial recognition technology to automate and secure the 
attendance process. By using a camera module installed in the classroom, the 
system captures images of students as they enter. These images are then, 
matched against a pre-stored database using facial recognition algorithms. 
When a match is found, the system automatically logs the student’s attendance, 
eliminating the necessity for manual marking and significantly reducing the 
chance of errors. 
AI Attendance Manager accurately marks attendance by verifying that only 
students who are physically present in the classroom are recorded as present, 
eliminating the risk of proxy attendance. Its implementation promises enhanced 
accuracy, real-time tracking, and a streamlined process that saves time for 
faculty and administrative staff. By automating attendance and improving data 
reliability, the system addresses common challenges in traditional methods and 
supports smarter and more efficient academic environment. 

The development phase of the application includes following steps: 
Step 1: Capturing Video Frames 
A camera is positioned at the classroom entrance to capture clear images of 
students' faces. It records video at 30 frames per second. These frames are 
extracted and used for further processing. 
Step 2: Face Detection 
This phase includes face detection of the person which aids in locating and sizing 
the student faces in the collected image. 
Step 3: Image Pre-Processing 
Pre-processing is necessary to enhance the input image and raise the overall 
quality of the image. 
Step 4: Training Set 
The method involves comparing the faces that has to be recognized with the 
identical face in the trained dataset. The provided algorithm uses the training 
dataset to identify which group a person belongs to. It relies on this training data 
to perform facial recognition and make accurate classifications. 
Step 5: Face Recognition 
The face recognition component plays a crucial role in the system. An automated 
way of recognizing and authenticating a person from photos and videos taken by 
the camera is face recognition. 
Step 6: Marking Attendance 
Attendance will only be recorded as present if a face from a particular registered 
folder matches. Once all present students have been marked, the remaining 
enrolled students who were not detected will be automatically recorded as 
absent. 
Hint: For this project, you are expected to create your own dataset using real
time image data. For instance, the system can be trained on six different 
students by capturing over 100 images per student. These images should be 
converted to grayscale and saved with the respective student's name and ID. 
Please note that no pre-existing dataset is provided for this task. 

1.3  Purpose of the Document 
The purpose of this document is to outline the design, functionality, and 
implementation plan of the proposed Smart Attendance System Using Facial 
Recognition. This document ensures a shared understanding of the project goals 
and provides a structured roadmap for development and deployment. This 
document is intended for both stakeholders and developers of the application. 
1.4  Scope of Project 
The scope of this project is to design and implement an AI-powered attendance 
management system that automates student attendance using facial recognition 
technology. The system will capture student images at the classroom entrance, 
compare them with a stored database, and mark attendance in real time. It aims 
to eliminate proxy attendance, reduce manual effort, ensure accuracy, and 
generate reliable attendance reports. Furthermore, it should be noted that 
support integration with existing academic systems falls outside the scope of this 
project.

1.5  Constraints 
The AI Attendance Manager project faces certain constraints such as dependency 
on good lighting conditions and proper camera placement for accurate facial 
recognition. The system’s effectiveness is also limited by the quality and size of 
the training dataset. Privacy concerns regarding the storage and handling of 
biometric data must also be addressed in accordance with data protection 
regulations. 
1.6  Functional Requirements 
Creating an AI Attendance Manager involves several steps and components. Here 
are the functional requirements to develop such a system: 
i. 
ii. 
iii. 
iv. 
v. 
vi. 
vii. 
Data Collection - The system should gather and store student facial data 
as part of their digital profiles to enable accurate facial recognition for 
automated attendance tracking. 
Face Detection - The system should capture real-time images using a 
camera at the classroom entrance and detect and recognize student faces. 
Face Recognition - Implement face recognition authentication for 
identification.  
Data Pre-processing - Clean and pre-process the data to improve the 
accuracy of the recognition system. This may involve image enhancement, 
resizing, and data normalization. 
Machine Learning Model - Train a Machine Learning Model (example, 
Convolutional Neural Network (CNN)) to recognize faces. You may use pre
trained models and fine-tune them for your specific dataset. 
Student Identification - The system should match the captured face 
with stored images in the student database and identify the student using 
unique identifiers such as name or ID. 
Attendance Marking - If a match is found, the system should 
automatically mark the student as present. If not, the student is marked 
as absent.

viii. 
ix. 
x. 
xi. 
xii. 
xiii. 
Time Logging - The system should record the in-time and out-time of 
each student to monitor the total time spent in class.  
Data Storage - Set up a database to store attendance records securely. 
Consider using relational databases or NoSQL databases, depending on 
your scalability requirements.  
User Interface - Develop a user-friendly interface for users to mark 
attendance, view attendance records, and manage the system. This can 
be a Web based application.  
Admin dashboard - The system should provide a dashboard for 
faculty/admins to view attendance reports, export data, and manage 
student profiles. 
Proxy Detection prevention - The system should ensure each face is 
unique and prevent multiple entries or proxy attendance. 
Data Analysis and Reporting - Implement data analytics to generate 
reports on attendance patterns, absenteeism, and other relevant metrics. 

1.8.2 Software  
Technologies to be used: 
1. Frontend: HTML5/Streamlit or any other frontend programming languages 
2. Backend: Flask/Django 
3. Data Store: jpg images 
4. Database: Firebase/NoSQL 
5. Programming/IDE: Python, Jupyter Notebook, Anaconda, Google Colab 
6. Libraries: OpenCV, NumPy, Pandas, Matplotlib, Keras, Tensorflow, 
PyTorch